/* Background Wallpapers */

.wallpaper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.background-welcome {
    background-image: url(/static/img/wallpaper/background.png);
}
